.container {
    display: flex;
    width: 100vw;
    height: 100vh;
    background-image: url('./assets/bg-dark.png');
}

.form {
    display: flex;
    width: 800px;
    height: 50px;
    padding: 40px;
    background: rgba(0, 0, 0, 0.5);
    margin-top: 200px;
    margin-bottom: auto;
    margin-left: auto;
    margin-right: auto;
}

.input {
    flex-grow: 1;
    padding: 5px;
    margin-right: 10px;
    font-size: 16px;
    background: #cacaca;
    border: 0;
    outline-color: #076d31;
}

.submit {
    padding: 0;
    width: 50px;
    flex-shrink: 0;
    background: #076d31;
    cursor: pointer;
    border: 0;    
    outline: none;

    * {
        width: 40%;
        height: auto;
    }

    &:hover {
        background: darken(#076d31, 10%);
    }

    &:active {        
        box-shadow: inset 2px 2px 2px darken(#076d31, 15%);
    }
}